<div id="tabGviewer" style="width: 100%; display: none;">
    <div style="height: 9px;"></div>
    <div class="btn-toolbar justify-content-between" role="toolbar">
        <div class="ui-widget input-group input-group-sm" style="width: 50%">
            <span class="inconsolata bold form-control" id="spanGviewerPathPreview" style="display: none; width: 70%; border: 1px black solid;"></span>
            <input class="form-control form-control-sm inconsolata bold" id="inpGviewerPath" style="font-size: 14px;">
            <div class="input-group-append">
                <button class="btn btn-outline-info" id="btnGviewerPathSubmit" style="height: 31px;" type="button"><i class="bi bi-arrow-right-square "></i></button>
                <span style="width: 5px;"></span>
                <button class="btn btn-outline-info" disabled id="btnGviewerPermalink" style="height: 31px;" title="Create a permalink" type="button"><i class="bi bi-link-45deg"
                                                                                                                                                         style="font-size: large;"></i></button>
            </div>
        </div>
        <div class="input-group-prepend">
            <div aria-label="First group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
                <button class="btn btn-outline-info" id="btnGviewerZoomOut" title="Zoom out" type="button"><i class="bi bi-zoom-out"></i></button>
                &nbsp;
                <button class="btn btn-outline-info" id="btnGviewerZoomIn" title="Zoom in" type="button"><i class="bi bi-zoom-in"></i></button>
            </div>
            <div aria-label="Second group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
                <button aria-pressed="false" class="btn btn-outline-info" data-toggle="button" id="btnGviewerTheme" title="Theme type: light or dark" type="button"><i
                        class="bi bi-moon-stars-fill"></i></button>
            </div>

            <div class="btn-group btn-group-sm" role="group" style="float: right; height: fit-content;">
                <button aria-expanded="false" class="btn btn-outline-info btn-sm dropdown-toggle" data-toggle="dropdown" title="Bookmark color" type="button">
                    Bookmark color:&nbsp;&nbsp;
                    <label class="color-picker-item bookmark-menu" id="lblGviewerBookmarkColor" style="background: lightgreen; "></label>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" id="menuGviewerBookmarkColorRed"><label class="color-picker-item" style="background: red"></label>&nbsp;&nbsp;Red</a>
                    <a class="dropdown-item" href="#" id="menuGviewerBookmarkColorGreen"><label class="color-picker-item" style="background: lightgreen"></label>&nbsp;&nbsp;Green</a>
                    <a class="dropdown-item" href="#" id="menuGviewerBookmarkColorCyan"><label class="color-picker-item" style="background: cyan"></label>&nbsp;&nbsp;Cyan</a>
                    <a class="dropdown-item" href="#" id="menuGviewerBookmarkColorMagenta"><label class="color-picker-item" style="background: magenta"></label>&nbsp;&nbsp;Magenta</a>
                    <a class="dropdown-item" href="#" id="menuGviewerBookmarkColorYellow"><label class="color-picker-item" style="background: gold"></label>&nbsp;&nbsp;Yellow</a>
                </div>
            </div>
            &nbsp;
            <div aria-label="Second group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
                <button class="btn btn-outline-info" id="btnGviewerSettings" title="Settings" type="button"><i class="bi bi-gear"></i></button>
            </div>
        </div>
    </div>
    <div>
        <div class="invalid-feedback" id="lblGviewerPath" style="display: block"></div>

    </div>
    <div class="alert alert-secondary" id="altGviewerNoRecordsFound" role="alert" style="display: none;">
        No records found in the global.
    </div>
    <div style="height: 11px;"></div>
    <div class="row">
        <div class="col">
            <div id="divGviewerTableScroll" style="overflow: scroll; min-height: calc( 100vh - 172px ); height: calc( 100vh - 172px );">
                <table class="gviewer-table table table-sm table-bordered table-hover" id="tblGviewerTable" tabindex="100">
                    <thead>
                    </thead>
                    <tbody class="inconsolata">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="gviewer-json-viewer" id="divGviewerJsonViewer" style="display: none;">
    <div class="gviewer-json-viewer-content">
    </div>
</div>
