<div id="tabTopology" style="width: 100%; display: none;">
    <div style="height: 6px;"></div>
    <div class="btn-toolbar stats-toolbar" id="divTopologyToolbarDesign" role="toolbar" style="display: block;">
        <!-- switch -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px; margin-left: 10px;">
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarSwitchToRun" title="Switch to run toolbar" type="button">
                <i class="bi bi-boxes stats-toolbar-icons"></i>
            </button>
        </div>

        <!-- undo / redo -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px; margin-left: 10px;">
            <button class="btn btn-outline-info stats-toolbar-buttons disabled" disabled id="btnTopologyToolbarUndo" title="Undo" type="button">
                <i class="bi bi-arrow-counterclockwise stats-toolbar-icons"></i>
            </button>
            <button class="btn btn-outline-info stats-toolbar-buttons disabled" disabled id="btnTopologyToolbarRedo" style="margin-right: 10px;" title="Redo" type="button">
                <i class="bi bi-arrow-clockwise stats-toolbar-icons"></i>
            </button>
        </div>

        <!-- zoom in / out -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px; margin-left: 10px;">
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarZoomOut" title="Zoom out" type="button">
                <i class="bi bi-zoom-out stats-toolbar-icons"></i>
            </button>
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarZoomIn" style="margin-right: 10px;" title="Zoom in" type="button">
                <i class="bi bi-zoom-in stats-toolbar-icons"></i>
            </button>
        </div>

        <!-- layout -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px;">
            <span style="font-size: 12px; margin-top: 5px;">Auto-arrange:&nbsp;</span>
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarAutoArrangeButton" style="margin-right: 0;" type="button">LR</button>
            <button class="btn btn-outline-info dropdown-toggle dropdown-toggle-split stats-toolbar-buttons" data-toggle="dropdown" id="btnTopologyToolbarAutoArrange" type="button">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" id="dmReplArrangeMenu">
                <div>
                    <div class="row" style="width: 300px; padding: 5px; padding-left: 10px; font-size: 12px;">
                        <div class="col-6">
                            <input id="optReplLayoutArrangeLr" name="direction" type="radio">
                            <label for="optReplLayoutArrangeLr">&nbsp;Left to right</label>
                        </div>
                        <div class="col-6">
                            <input id="optReplLayoutArrangeTb" name="direction" type="radio">
                            <label for="optReplLayoutArrangeTb">&nbsp;Top to bottom</label>
                        </div>
                    </div>
                    <div class="row" style="width: 300px; padding: 5px;  padding-left: 10px; font-size: 12px;">
                        <div class="col-6">Rank separation:</div>
                        <div class="col-6">
                            <button class="btn btn-sm btn-outline-info" id="btnReplLayoutArrangeRankSepDown" style="padding: 1px 10px;"><</button>
                            <span id="lblReplLayoutArrangeRankSep" style="padding: 5px; width: 70px; text-align: center;">150</span>
                            <button class="btn btn-sm btn-outline-info" id="btnReplLayoutArrangeRankSepUp" style="padding: 1px 10px;">></button>
                        </div>
                    </div>
                    <div class="row" style="width: 300px; padding: 5px;  padding-left: 10px;font-size: 12px;">
                        <div class="col-6">Node separation:</div>
                        <div class="col-6">
                            <button class="btn btn-sm btn-outline-info" id="btnReplLayoutArrangeNodeSepDown" style="padding: 1px 10px;"><</button>
                            <span id="lblReplLayoutArrangeNodeSep" style="padding: 5px; width: 70px; text-align: center;">150</span>
                            <button class="btn btn-sm btn-outline-info" id="btnReplLayoutArrangeNodeSepUp" style="padding: 1px 10px;">></button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarFitToContent" id="btnTopologyToolbarFitToContent" style="margin-left: 5px;" title="Fit to content"
                    type="button">
                <i class="bi bi-diagram-3 stats-toolbar-icons"></i>
            </button>
        </div>

        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px;">
            <span style="font-size: 12px; margin-top: 7px; text-wrap: nowrap;">Router:&nbsp;</span>
            <select class="form-control form-control-sm" id="selTopologyToolbarRouter" style="height: 33px;">
                <option value="normal">Normal</option>
                <option value="manhattan">Manhattan</option>
                <option value="metro">Metro</option>
                <option value="orthogonal">Orthogonal</option>
            </select>
        </div>

        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px;">
            <span style="font-size: 12px; margin-top: 7px; text-wrap: nowrap;">Connector:&nbsp;</span>
            <select class="form-control " id="selTopologyToolbarConnector" style="height: 33px;">
                <option value="straight">Straight</option>
                <option value="curve">Curve</option>
                <option value="smooth">Smooth</option>
            </select>
        </div>

        <!-- help -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 35px; float: right;">
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnSTopologyHelp1" style="margin-right: -6px;" title="Help" type="button">
                <i class="bi bi-question-square stats-toolbar-icons"></i>
            </button>
        </div>
    </div>

    <div class="btn-toolbar stats-toolbar" id="divTopologyToolbarRun" role="toolbar" style="display: none; margin-left: 10px;">
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px; ">
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarSwitchToDesign" title="Switch to design toolbar"
                    type="button">
                <i class="bi bi-rulers stats-toolbar-icons"></i>
            </button>
        </div>

        <!-- load / save -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px; margin-left: 10px;">
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarLoad" style="margin-right: 10px;" title="Load" type="button">
                <i class="bi bi-folder2-open stats-toolbar-icons"></i>
            </button>
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnTopologyToolbarSave" style="margin-right: 10px;" title="Save" type="button">
                <i class="bi bi-floppy stats-toolbar-icons"></i>
            </button>
        </div>

        <!-- refresh times -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 44px; margin-left: 30px;">
            <span style="font-size: 12px; margin-top: 7px; text-wrap: nowrap;">Refresh:</span>
            <span class="led led-repl-toolbar" id="ledTopologyToolbarRefresh"></span>
            <select class="form-control form-control-sm" id="selTopologyToolbarRefresh">
                <option value="0">Off</option>
                <option value="2">2 seconds</option>
                <option value="5">5 seconds</option>
                <option value="10">10 seconds</option>
                <option value="20">20 seconds</option>
                <option value="30">30 seconds</option>
                <option value="60">1 minute</option>
                <option value="300">5 minutes</option>
                <option value="900">15 minutes</option>
            </select>
        </div>

        <!-- help -->
        <div class="btn-group mr-2 btn-group-sm" role="group" style="height: 35px; float: right;">
            <button class="btn btn-outline-info stats-toolbar-buttons" id="btnSTopologyHelp2" style="margin-right: -6px;" title="Help" type="button">
                <i class="bi bi-question-square stats-toolbar-icons"></i>
            </button>
        </div>
    </div>

    <!-- joint.js paper -->
    <div id="divTopologyPaper" style="cursor: grab">
    </div>

    <!-- popup menus in graph -->
    <div class="dropdown-menu" id="divContextMenuShapes">
        <a class="dropdown-item" href="#" id="menuReplContextOpenGui">Open GUI in new tab...</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item " href="#" id="menuReplContextOpenLogFiles">Log files...</a>
        <a class="dropdown-item" href="#" id="menuReplContextOpenInstanceFile">Instance file info...</a>
    </div>
    <div class="dropdown-menu" id="divContextMenuShapesDead">
        <a class="dropdown-item" href="#" id="menuReplContextErrorDetails">Error details...</a>
    </div>
    <div class="dropdown-menu" id="divContextMenuLinks">
        <a class="dropdown-item" href="#" id="menuReplContextLinkReset">Reset link</a>
    </div>

</div>
