<nav class="navbar navbar-expand-lg navbar-light navigation-header ydb-back6" style="padding: 0 22px;">
    <a target="_blank" href="https://yottadb.com">
        <img alt="" src="/img/YottaDB_logo-light.svg" class="hand" width="160" style="padding: 5px;"/>
        <span id="lblYottadbVersion" class="ydb-image"></span>
    </a>

    <!--***************************************-->
    <!--      logo   -->
    <!--***************************************-->
    <div class="ml-auto" style="display: flex; font-size: 13px;">
        <a class="navbar-brand text-primary" href="#"></a>

        <!--***************************************-->
        <!--      Dasahboard menu   -->
        <!--***************************************-->
        <a data-placement="bottom" data-toggle="popover" data-trigger="hover"
           id="puAsync" style="display: none;" tabindex="-1" title="">
            <div class="rounded-lg p-3 text-center ydb-back6 permission-pill-div ">
            <span class="badge badge-pill permission-pill  badge-stats hand"
                  id="lblAsync">Async</span>
            </div>
        </a>

        <div class="dropdown">
            <div data-toggle="dropdown" id="menuUserMode">
                <!--
                    <a data-toggle="popover" data-trigger="hover" id="puUserMode"
                       data-placement="bottom" tabindex="-1" title="">-->
                <nobr>
                    <div class="rounded-lg p-3 text-center ydb-back6 permission-pill-div" style="padding-right: 10px!important">
                        <span class="badge badge-pill permission-pill  badge-stats " id="lblUserMode"></span>
                        <i class="bi-caret-down-fill hand" id="mnuDashUserOptions" style="font-size: 10px;"></i>&nbsp;
                    </div>
                </nobr>
            </div>

            <ul aria-labelledby="dropdownMenu" class="dropdown-menu" role="menu">
                <li class="dropdown-item" id="menuSystemAdministrationLogoutLi">
                    <a href="#" id="menuSystemAdministrationLogout"
                       tabindex="-1">Logout</a>
                </li>
            </ul>
        </div>

        <!--***************************************-->
        <!--      System info menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div class="nav-link   menu-header-2 hand" id="menuSystemInfo" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">System info...
            </div>
        </div>

        <!--***************************************-->
        <!--      Database Administration menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div aria-expanded="false" aria-haspopup="true" class="nav-link menu-header-2 hand"
                 data-toggle="dropdown"
                 id="menuSystemAdministration">
                <nobr>
                    <span>Database Administration</span>
                    <i class="bi-caret-down-fill" style="font-size: 10px;"></i>
                </nobr>
            </div>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu" id="menuSystemAdministrationStorageLi">
                    <a id="menuSystemAdministrationRegion" class="dropdown-item" tabindex="-1" href="#">Regions</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" id="menuSystemAdministrationRegionViewLi">
                            <a id="menuSystemAdministrationRegionView" tabindex="-1" href="#">View...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuSystemAdministrationRegionAddLi">
                            <a id="menuSystemAdministrationRegionAdd" tabindex="-1"
                               href="#">Add...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionEditLi">
                            <a href="#" id="menuSystemAdministrationRegionEdit" tabindex="-1">Edit...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionDeleteLi">
                            <a id="menuSystemAdministrationRegionDelete" tabindex="-1" href="#">Delete...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuSystemAdministrationRegionCreateDatabaseLi"><a
                                id="menuSystemAdministrationRegionCreateDatabase" tabindex="-1" href="#"> Create
                            Database file...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionExtendDatabaseLi"><a
                                id="menuSystemAdministrationRegionExtendDatabase" tabindex="-1" href="#"> Extend
                            database...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuSystemAdministrationRegionJournalingLi"><a
                                id="menuSystemAdministrationRegionJournaling" tabindex="-1" href="#"> Journaling Start /
                            Stop...</a>
                        </li>
                        <li class="dropdown-item" id="menuSystemAdministrationRegionJournalingSwitchLi"><a
                                href="#" id="menuSystemAdministrationRegionJournalingSwitch" tabindex="-1"> Journaling Switch...</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuSystemAdministrationLocksManagerLi">
                    <a href="#" id="menuSystemAdministrationLocksManager" tabindex="-1">M Locks manager...</a>
                </li>
                <li class="dropdown-item" id="menuSystemAdministrationGlobalMappingsLi">
                    <a href="#" id="menuSystemAdministrationGlobalMappings" tabindex="-1">Global mappings...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuSystemAdministrationBackupLi">
                    <a href="#" id="menuSystemAdministrationBackup" tabindex="-1">Backup...</a>
                </li>
                <li class="dropdown-item disabled" id="menuSystemAdministrationRestoreLi">
                    <a id="menuSystemAdministrationRestore" class="disabled" tabindex="-1" href="#">Restore...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item disabled" id="menuSystemAdministrationIntegrityLi">
                    <a id="menuSystemAdministrationIntegrity" class="disabled" tabindex="-1" href="#">Integrity check...</a>
                </li>

                <li class="dropdown-item" id="menuSystemAdministrationDefragLi">
                    <a href="#" id="menuSystemAdministrationDefrag" tabindex="-1">Reorg (Defrag / Compact)...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu" id="menuReplicationLi">
                    <a class="dropdown-item" href="#" id="menuReplication" tabindex="-1">Replication</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" id="menuReplicationInstanceFileLi">
                            <a href="#" id="menuReplicationInstanceFile" tabindex="-1">Instance file...</a>
                        </li>
                        <li class="dropdown-item" id="menuReplicationLogFilesLi">
                            <a href="#" id="menuReplicationLogFiles" tabindex="-1">Log files...</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item" id="menuReplicationTopologyLi">
                            <a href="#" id="menuReplicationTopology" tabindex="-1">Topology...</a>
                        </li>

                        <li class="dropdown-submenu" id="menuReplicationConfigurationLi">
                            <a class="dropdown-item" href="#" id="menuReplicationConfiguration" tabindex="-1">Configuration</a>
                            <ul class="dropdown-menu" style="left: -134px;">
                                <li class="dropdown-item" id="menuReplicationConfigurationImportLi">
                                    <!--<a href="#" id="menuReplicationConfigurationImport" tabindex="-1"></a>-->
                                    <label for="repl-import-file-selector" style="margin-bottom: 0; cursor: pointer;">
                                        Import...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <input accept=".json" id="repl-import-file-selector" type="file">
                                </li>
                                <li class="dropdown-item" id="menuReplicationConfigurationExportLi">
                                    <a href="#" id="menuReplicationConfigurationExport" tabindex="-1">Export...</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuGldFileSelectLi">
                    <a href="#" id="menuGldFileSelect" tabindex="-1">Environment...</a>
                </li>
                <li class="dropdown-item" id="menuStatsLi">
                    <a href="#" id="menuStats" tabindex="-1">Monitor database...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuPreferencesLi">
                    <a href="#" id="menuPreferences" tabindex="-1">Preferences...</a>
                </li>
            </ul>
        </div>

        <!--***************************************-->
        <!--      Development menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div aria-expanded="false" aria-haspopup="true" class="nav-link  menu-header-2 hand"
                 data-toggle="dropdown"
                 id="menuDevelopment">
                <nobr>
                    <span>Development</span>
                    <i class="bi-caret-down-fill" style="font-size: 10px;"></i>
                </nobr>
            </div>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu" id="menuDevelopmentGlobalsViewerLi">
                    <a class="dropdown-item" href="#" id="menuDevelopmentGlobalsViewer" tabindex="-1">Globals</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" id="menuDevelopmentGlobalsViewerNewLi">
                            <a href="#" id="menuDevelopmentGlobalsViewerNew" tabindex="-1">New viewer</a>
                        </li>

                        <li class="dropdown-divider dropdown-menu"></li>

                        <li class="dropdown-submenu disabled" id="menuDevelopmentGlobalsViewerRecentLi">
                            <a class="dropdown-item disabled" href="#" id="menuDevelopmentGlobalsViewerRecent" tabindex="-1">Recent</a>
                            <ul class="" id="menuDevelopmentGlobalsViewerRecentListEntries" style="left: -194px;"></ul>
                        </li>

                    </ul>
                </li>

                <li class="dropdown-submenu" id="menuDevelopmentRoutinesLi">
                    <a class="dropdown-item" href="#" id="menuDevelopmentRoutines" tabindex="-1">Routines</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" id="menuDevelopmentRoutinesViewerNewLi">
                            <a href="#" id="menuDevelopmentRoutinesViewerNew" tabindex="-1">New viewer</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item " id="menuDevelopmentRoutinesViewerNewChangePathLi">
                            <a href="#" id="menuDevelopmentRoutinesViewerNewChangePath" tabindex="-1">Search path...</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-submenu" id="menuDevelopmentOctoLi">
                    <a class="dropdown-item" href="#" id="menuDevelopmentOcto" tabindex="-1">Octo</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" id="menuDevelopmentOctoNewQueryLi">
                            <a href="#" id="menuDevelopmentOctoNewQuery" tabindex="-1">New query</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item disabled" id="menuDatabasesPropertiesLi">
                    <a id="menuDatabasesProperties" class="disabled" tabindex="-1" href="#">Triggers...</a>
                </li>
            </ul>
        </div>

        <!--***************************************-->
        <!--      Documentation menu   -->
        <!--***************************************-->
        <div class="dropdown">
            <div aria-expanded="false" aria-haspopup="true" class="nav-link  hand menu-header-2" data-toggle="dropdown"
                 id="mnuHelp">
                <nobr>
                    <span>Documentation</span>
                    <i class="bi-caret-down-fill" style="font-size: 10px;"></i>
                </nobr>
            </div>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" style="left: -174px;">
                <li class="dropdown-item" id="menuDocumentationAdministration"><a tabindex="-1" href="#">Administration
                    and operation</a></li>
                <li class="dropdown-item" id="menuDocumentationMessages">
                    <a href="#" tabindex="-1">Messages and Recovery procedures</a></li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuDocumentationMprogrammer"><a tabindex="-1" href="#">M Programmer
                    guide</a></li>
                <li class="dropdown-item" id="menuDocumentationMultiLanguage"><a tabindex="-1" href="#">Multi-Language
                    Programmer guide</a></li>
                <li class="dropdown-item" id="menuDocumentationOcto"><a tabindex="-1" href="#">Octo documentation</a>
                </li>
                <li class="dropdown-item" id="menuDocumentationPlugins"><a tabindex="-1" href="#">Plugins</a></li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuDocumentationAcculturation"><a tabindex="-1" href="#">Acculturation
                    guide</a></li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuDebugInformation"><a tabindex="-1" href="#">Troubleshooting...</a>
                </li>

                <li class="dropdown-divider"></li>

                <li class="dropdown-item" id="menuHelp"><a href="#" tabindex="-1">Help...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
