<!-- Routines search path dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRoutinesSearchPath" role="dialog"
     style="z-index: 1100;" tabindex="-1">
    <div class="modal-dialog modal-width-800 modal-dialog-scrollable" role="document">
        <div class="modal-content" style="top: 104px;">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Routines search paths</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-9">
                        <div style="height: 351px; overflow-y: auto; width: 610px;">
                            <div class="routine-tree">
                                <div class="tree" id="treeRoutinesSearch"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="text-align: right;">
                        <div style="height: 3px;"></div>
                        <button class="btn btn-outline-info btn-sm routine-path-action-button" id="btnRoutinesSearchMoveUp"
                                type="button">Move up
                        </button>
                        <div style="height: 10px;"></div>
                        <button class="btn btn-outline-info btn-sm  routine-path-action-button" id="btnRoutinesSearchMoveDown"
                                type="button">Move down
                        </button>
                        <div style="height: 20px;"></div>
                        <button class="btn btn-outline-info btn-sm routine-path-action-button" id="btnRoutinesSearchRemove"
                                type="button">Remove
                        </button>
                        <div style="height: 20px;"></div>
                        <button class="btn btn-outline-info btn-sm routine-path-action-button" id="btnRoutinesSearchAddObject"
                                type="button ">Add object path...
                        </button>
                        <div style="height: 10px;"></div>
                        <button class="btn btn-outline-info btn-sm routine-path-action-button" id="btnRoutinesSearchAddSource"
                                type="button">Add source path...
                        </button>
                        <div style="height: 10px;"></div>
                        <button class="btn btn-outline-info btn-sm routine-path-action-button" id="btnRoutinesSearchAddObjectSource"
                                type="button ">Add object and source path...
                        </button>
                        <div style="height: 10px;"></div>
                        <button class="btn btn-outline-info btn-sm routine-path-action-button" id="btnRoutinesSearchAddSo"
                                type="button">Add library...
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnRoutinesSearchDirOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Routines search path dialog add -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRoutinesSearchPathAdd" role="dialog"
     style="z-index: 2000" tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content" style="top: 104px;">
            <div class="modal-header">
                <label class="modal-title" id="lblRoutinesSearchPathAdd"></label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <hr>
                    <div class="col-3">
                        <label>
                            Path:
                        </label>
                    </div>
                    <div class="col-9">
                        <div class="input-group">
                            <input class="form-control form-control-sm" id="inpRoutinesSearchPathAdd" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm" id="btnRoutinesSearchPathAddSelect" type="button">...</button>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary-red btn-sm disabled" disabled id="btnRoutinesSearchPathAddValidate" type="button">Validate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divRoutineSearchPathAddAutoRelink">
                    <div style="height: 20px;"></div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9">
                            <div class="form-group form-check">
                                <input class="form-check-input" id="chkRoutineSearchPathAddAutoRelink" type="checkbox">
                                <label class="form-check-label" for="chkRoutineSearchPathAddAutoRelink">Auto-relink</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnRoutinesSearchPathAddOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- .so search path dialog add -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRoutinesSearchFileAdd" role="dialog"
     style="z-index: 2000" tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content" style="top: 104px;">
            <div class="modal-header">
                <label class="modal-title">Add library file</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <hr>
                    <div class="col-3">
                        <label>
                            File (*.so):
                        </label>
                    </div>
                    <div class="col-9">
                        <div class="input-group">
                            <input class="form-control form-control-sm" id="inpRoutinesSearchFileAdd" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm" id="btnRoutinesSearchFileAddSelect" type="button">...</button>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary-red btn-sm disabled" disabled id="btnRoutinesSearchFileAddValidate" type="button">Validate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnRoutinesSearchFileAddOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
