<!-- File select dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalFileSelect" role="dialog"
     style="z-index: 100000;" tabindex="-1">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <label class="modal-title" id="modalLabel">Select file</label>
        <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <label for="txtFileSelectPath"><b>Path:</b></label>
            <label class="form-control form-control-sm" id="txtFileSelectPath"></label>
          </div>

          <div class="row">
            <select class="form-control form-control-sm" id="selFileSelectList" size="8">
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer center">
        <button class="btn btn-outline-info" id="btnFileSelectOk" tabindex="10" type="button">
          Ok
        </button>
        <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel</button>
      </div>
    </div>
  </div>

