<div class="modal" id="modalWait" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true" style="z-index: 9000000000;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-shadow" style="background: var(--ydb-lightgray)!important;">
            <div class="modal-body" style="text-align: center; background: var(--ydb-lightgray); border-radius: 10px;">
                <span id="txtWaitText"></span>
                <br>
                <div id="divWaitAbortButton" style="display: none; text-align: center">
                    <br>
                    <button class="btn btn-outline-info btn-sm" id="btnWaitAbortButton">Abort</button>
                </div>
            </div>
        </div>
    </div>
</div>
