<!-- Region select dialog -->
<div class="modal fade" id="modalRegionSelect" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true" style="top: 16px;">
    <div class="modal-dialog modal-width-500 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Select A Region</label>
                <button type="button" class="close" data-dismiss="modal" tabindex="-1" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <div style="overflow-y: auto; overflow-x: hidden; height: 250px;">
                            <div class="nav flex-column nav-pills region-select cursor-default" id="divRegionSelectList" role="tablist" style="display: block;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button type="button" class="btn btn-outline-info" tabindex="10" id="btnRegionSelectOk">
                    Ok
                </button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
</div>
