<!-- stats sources save dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSourcesSave" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title" id="modalLabel">Save report</label>
        <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row-12" style="display: flex;">
          <div class="col-12" style="padding-bottom: 10px;">
            <h5 class="bold" style="margin-right: 30px;">Name:</h5>
            <input class="form-control" id="txtStatsName" maxlength="35" type="text">
          </div>
        </div>
        <div class="row-12" style="display: flex;">
          <div class="col-12" style="padding-bottom: 10px;">
            <h5 class="bold" style="margin-right: 30px;">Description:</h5>
            <textarea class="form-control" id="txtStatsDescription" rows="8" style="overflow-y: auto;" type="text"></textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer center">
          <button class="btn btn-outline-info" id="btnStatsSaveExport" style="margin-right: 40px;" tabindex="10" type="button">
              Export...
          </button>
          <button class="btn btn-outline-info" id="btnStatsSaveOk" tabindex="10" type="button">
              Ok
          </button>
          <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel</button>
          <button class="btn btn-outline-info btn-stats-help" id="btnStatsSaveHelp" style="width: 37px; padding-left: 8px; margin-left: 30px;" title="Help" type="button">
              <i class="bi bi-question-square" style="font-size: 20px;"></i>
          </button>
      </div>
    </div>
  </div>
</div>

<!-- stats sources load dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSourcesLoad" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title">Load report</label>
        <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row-12" style="display: flex;">
          <div class="col-5" style="padding-bottom: 10px;">
            <h5 class="bold" style="margin-right: 30px;">Name:</h5>
            <select class="form-control" id="selStatsSourcesLoadNames" size="10">
            </select>
          </div>
          <div class="col-7" style="padding-bottom: 10px;">
            <h5 class="bold" style="margin-right: 30px;">Description:</h5>
              <div class="stats-source-load-description" id="divStatsSourcesLoadDescription" style="overflow-y: auto;">
              </div>
          </div>
        </div>
      </div>

        <div class="modal-footer center">
            <button class="btn btn-outline-info" id="btnStatsLoadImport" style="margin-right: 40px;" tabindex="10" type="button">
                <label for="stats-import-file-selector" style="margin-bottom: 0;">
                    Import...
                </label>
                <input accept=".ysr" id="stats-import-file-selector" type="file">
            </button>
            <button class="btn btn-outline-info" id="btnStatsLoadDelete" style="margin-right: 10px;" tabindex="10" type="button">
                Delete
            </button>
            <button class="btn btn-outline-info" id="btnStatsLoadOk" tabindex="10" type="button">
                Ok
            </button>
            <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel</button>
            <button class="btn btn-outline-info btn-stats-help" id="btnStatsLoadHelp" title="Help" type="button">
                <i class="bi bi-question-square" style="font-size: 20px;"></i>
            </button>
        </div>
    </div>
  </div>
</div>
